
.experience-container{
  margin-left: 320px;
  margin-top: 150px;
  margin-bottom: 80px;
}
.experience-container > h1 {
  margin-bottom: 0;
  padding-bottom: 0;
}
.experience-container > p{
  margin-top: 0;
  padding-top: 0;
  margin-bottom: 25px;
}
.experience-container > h2 {
  margin-left: 200px;
  margin-top: 10px;
  font-size: 22px;
  text-decoration: underline;
  text-underline-offset: 7px;
}
.experience-container > h3{
  font-size: 22px;
  margin-top: 40px;
  margin-bottom: 0;
  padding-bottom: 5px;
}
.experience-container > p {
  font-size: 14px;
  padding-top: 0px;
  margin-top: 0px;
}
.experience-container > .content{
  font-size: 18px;
  width: 700px;
}


/* Responsive Styles for Mobile and Tablets */
@media (max-width: 768px) {
  .experience-container {
    margin-left: 20px; /* Reduced left margin for smaller screens */
    margin-top: 100px; /* Reduced top margin */
    margin-bottom: 50px; /* Reduced bottom margin */
  }

  .experience-container >div > h2 {
    margin-left: 20px; /* Remove left margin for subheading */
    font-size: 18px; /* Reduced font size for subheading */
    text-align: left; /* Align text to the left */
  }

  .experience-container >div> h3 {
    margin-left: 20px;
    font-size: 18px; /* Reduced font size for h3 */
  }

  .experience-container > div>  .content {
    margin-left: 20px;
    width: 100%; /* Full width for content on smaller screens */
    font-size: 16px; /* Reduced font size for better readability */
  }
  .experience-container > div > p{
    margin-left: 20px;
  }
}