.navbar-container{
  background-color: #000000;
  background-image: url("https://www.transparenttextures.com/patterns/diagmonds.png");
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 15px 80px ;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 99;
}
.navbar-container > p {
  font-size: 70px;
  font-weight: 700;
  margin: 0px;
  padding: 0px;
  color: #4a90e2;
  transition: color  0.3s;
  transition: font-size 0.3s;
}
.navbar-container p:hover {
  color:  #2982dc; 
  font-size: 100px;
}
.nav-item{
  display: flex;
  align-items: center;
  justify-content: space-between;
  list-style: none;
  margin-left: 150px ;
}
.nav-item > li{
  margin: 20px;
}
.nav-link{
  color: white;
  text-decoration: none;
  transition: color 0.3s;
}
.nav-link.active {
  border-bottom: 2px solid #489bf4; 
}

.nav-link:hover {
  color: #4c97e7; 
}

.nav-button {
  margin-left: auto; /* Push the nav button to the right */
}

.nav-button > a {
  color: white;
  text-decoration: none;
}

/* Responsive Styles */

@media (max-width: 1024px) {
  .navbar-container {
    padding: 15px 40px; /* Less padding for tablets */
  }
}

@media (max-width: 768px) {
  .navbar-container {
    padding: 10px ; /* Even less padding for mobile */
  }
  .nav-button {
    margin-left: auto; /* Keep it to the right on mobile as well */
  }

  /* Display the menu button and hide nav items for mobile */
  .menu-button {
    display: block;
    background: none;
    border: none;
    color: white;
    font-size: 24px;
    cursor: pointer;
  }

  .nav-item {
    display: none; /* Hide the nav items initially */
    position: absolute;
    top: 70px;
    left: 0;
    width: 100%;
    flex-direction: column;
    background-color: #000000;
    align-items: center;
    padding: 20px 0;
    z-index: 98;
  }

  .nav-item.open {
    display: flex; /* Show the nav items when the menu is open */
  }

  .nav-item > li {
    margin: 10px 0;
  }

  .navbar-container > p {
    font-size: 40px;
  }

  .nav-button {
    display: none; /* Hide the connect button in mobile view */
  }
}