
.skills-container{
  margin-top: 10px;
}
.skills-container > h2{
  margin-bottom: 0;
  padding-top: 10px;
}
.skills-div{
  display: flex;
  font-size: 17px;
}
.skills-div > ul{
  padding-right: 50px;
  padding-left: 20px;
  margin-right: 30px;
}

/* Responsive Styles for Mobile and Tablets */
@media (max-width: 768px) {
  .skills-div {
    flex-direction: column; /* Stack items vertically on smaller screens */
    font-size: 15px; /* Smaller font size for better readability */
    padding-left: 50px;
  }
  .skills-container > h2{
    margin-left: 50px;  
  }

  .skills-div > ul {
    padding-right: 20px; /* Reduced right padding for smaller screens */
    padding-left: 10px; /* Reduced left padding for smaller screens */
    margin-right: 0; /* Remove right margin */
    margin-bottom: 15px; /* Add bottom margin for spacing between lists */
  }
}