.works-container{
  margin-left: 320px;
  margin-top: 180px;
}
.project{
  display: flex;
  margin-bottom: 100px;
  margin-top: 40px;
}
.project > img{
  width: 700px;
  height: 370px;
}
.project > h3 {
  position: absolute;
  right: 300px;
  font-size: 25px;
}
.project > .project-detail{
  margin-top: 70px;
  width: 500px;
  height: 200px;
  background-color: rgb(18, 16, 16);
  margin-left: -350px;
  border: none;
  border-radius: 10px;
  box-shadow: 10px 10px 5px rgb(33, 31, 31);
  padding: 25px;
}
.project-detail > p {
  font-size: 16px;
}
.project-detail > p > span {
  color: rgb(129, 112, 112);
}
